services:
  mc:
    build: .
    environment:
      EULA: "TRUE"
    ports:
      - "25565:25565"
    volumes:
      - ./server-data:/home/container
    stdin_open: true
    tty: true
    restart: unless-stopped
